@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

htm{
    scroll-behavior: smooth;
}

.btn {
    padding: 19px 29px 19px 19px;
    border-radius: 8px;
    background: rgb(29, 185, 24);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-container {
    margin-top: 25px;
    text-align: center;
    scroll-behavior: smooth;
}

#hero {
    height: 937px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url("./assets/hero-bg.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

#hero .hero-content {
    width: 900px;
}

#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 20px;

}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

#hero .hero-content .brief {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

#cardbox {
    width: 937px;
    margin: 30px auto;
    position: relative;
    width: 900px;
    height: 937px;
    padding-top: 50px;
}

#cardbox .cardtitle .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;

}

#cardbox .cardtitle .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

#cardbox .cardtitle {
    margin: 100px;
}

.card-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-family: "Work Sans", sans-serif;
}

#carbox .card {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.card {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.card img {
    width: 100%;
}

#cardbox .card span {
    margin: 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 3px 14px 3px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}

#cardbox .card .discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}

#cardbox .card .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

#about {
    display: flex;
    justify-content: space-between;
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.897), rgba(240, 240, 240, 0.918)),
    url('assets/social-bg.png');
}


#about .pic {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#about .contact {
    margin: 80px;
}



#about .contact .icons {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#about .icons img {
    margin: 10px;
    opacity: 100;
    justify-content: center;
    align-content: center;
}

#about .contact .title {

    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

#about .contact .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 70px;
}

#about .contact .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 34px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin: 10px;
    border: 1px solid silver;
    padding: 30px;
